/*body {
    color: rgb(153, 255, 153);
    font-size: 13pt;
    background-color: whitesmoke;
}

table {
    background: black;
}

p {
    background: black;
}
*/
 
.line {
    border-top: 3px solid black;
}

.error {
    color: red;
    font-size: 13pt;
}

.warning {
    color: orange;
    font-size: 13pt;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .navbar li { display: inline; }